:host {
  --bold: bold;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li:last-child {
  padding-right: 0px;
}

li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px;
  margin: 0;
}

li.bold {
  font-weight: var(--bold);
}

li::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);

  @media speech {
    display: none;
  }
}