  <app-snap-slider
  label="ms per move"
  [min]="0"
  [max]="5000"
  [value]="(this.player)?.engineSettings?.timeForMove"
  [roundFn]="roundTo100"
  [updateModel]="updateTimeForMove"
  ></app-snap-slider>

  <app-snap-slider
  label="elo"
  [min]="1350"
  [max]="2850"
  [value]="(this.player)?.engineSettings?.elo"
  [roundFn]="roundTo50"

  [updateModel]="updateElo"
  ></app-snap-slider>

  <app-snap-slider
  label="Skill Level"
  [min]="0"
  [max]="20"
  [value]="(this.player)?.engineSettings?.skillLevel"

  [updateModel]="updateSkillLevel"
  ></app-snap-slider>
